In [16]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [17]:
df = pd.read_csv("E:\Hp\Advertising.csv")
df.head(5)

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [18]:
x=df[['TV','Radio','Newspaper']].values
y=df['Sales'].values
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

In [19]:

mlr = LinearRegression()
mlr.fit(x_train,y_train)

LinearRegression()

In [20]:
mlr.score(x_test,y_test)

0.8649018906637793

In [22]:
print(mlr.coef_)
print(mlr.intercept_)

[0.04391531 0.20027962 0.00184368]
2.8802552863313267

In [24]:
y_pred = mlr.predict(x_test)

In [25]:

df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
df1 = df.head(10)
df1

   Actual  Predicted
0    11.3  10.058667
1     8.4   7.433188
2     8.7   6.953057
3    25.4  24.168746
4    11.7  11.981720
5     8.7   6.544647
6     7.2  13.194268
7    13.2  14.902403
8     9.2  11.076753
9    16.6  16.250617

In [26]:
r2_score(y_test,y_pred)

0.8649018906637793

In [27]:
mse = mean_squared_error(y_test,y_pred)
mse

3.691394845698606