## The following text is given:

### text = 'Python programming'

## Standardize the text (replace uppercase letters with lowercase). Then create a list of unique characters in the text. Remove the space from this list and sort from a to z. After all print the list to the console.

## Tip: You can use a set to generate unique characters.

## Expected result:

### ['a', 'g', 'h', 'i', 'm', 'n', 'o', 'p', 'r', 't', 'y']

In [1]:
text = "Python Programming"
a = text.lower()
b = a.replace(" ",'')
list1 = list(b)
result = ""
for i in range(len(list1)):
    if list1[i] not in result:
        result = result + list1[i]
list2 = list(result)
print(sorted(list2))

['a', 'g', 'h', 'i', 'm', 'n', 'o', 'p', 'r', 't', 'y']

## To the given list:

### cities = ['Los Angeles', 'New York', 'Chicago']

#### append the city: 'Houston' and print the list to the console.

## Expected result:

### ['Los Angeles', 'New York', 'Chicago', 'Houston']

In [2]:
cities = ['Los Angeles', 'New York', 'Chicago']
cities.append('Houston')
print(cities)

['Los Angeles', 'New York', 'Chicago', 'Houston']

## The following list is given:

### hashtags = ['summer', 'time', 'vibes']

## Using the appropriate method, combine the elements of the list with the '#' character. Also add this sign to the beginning of the text and print the result to the console as shown below.

## Expected result:

### #summer#time#vibes

In [3]:
hashtags = ['summer', 'time', 'vibes']
a = " ".join(hashtags)
b = a.replace(" ",'#')
print("#"+b)

#summer#time#vibes

## The following list is given:

### filenames = ['view.jpg', 'bear.jpg', 'ball.png']

## Add the file 'phone.jpg' to this list at the beginning. Then delete the file 'ball.png'. In response, print the filenames list to the console.

## Expected result:

### ['phone.jpg', 'view.jpg', 'bear.jpg']

In [4]:
filenames = ['view.jpg', 'bear.jpg', 'ball.png']
filenames.insert(0,'phone.jpg')
filenames.remove('ball.png')
print(filenames)

['phone.jpg', 'view.jpg', 'bear.jpg']

## The following list represents order ids for a given day:

### day1 = ['3984', '9042', '4829', '2380']

### Using the appropriate method, extend this list to the next day:

### day2 = ['4231', '5234', '1345', '2455']

## Print the result to the console.

## Expected result:

### ['3984', '9042', '4829', '2380', '4231', '5234', '1345', '2455']

In [5]:
day1 = ['3984', '9042', '4829', '2380']
day2 = ['4231', '5234', '1345', '2455']
result = day1+day2
print(result)

['3984', '9042', '4829', '2380', '4231', '5234', '1345', '2455']

## The following list is given:

### idx = ['001', '002', '001', '003', '001']

## Using the appropriate method count the occurrences of '001'. Print the result to the console as shown below.

## Expected result:

### Number of occurrences: 3

In [6]:
idx = ['001', '002', '001', '003', '001']
a = idx.count('001')
print("Number of occurrences: {}".format(a))

Number of occurrences: 3