## Sort the given tuple (from A to Z):

### names = ('Monica', 'Tom', 'John', 'Michael')

## Print the sorted tuple to the console as shown below.

## Expected result:

#### ('John', 'Michael', 'Monica', 'Tom')

In [1]:
names = ('Monica','Tom','John','Michael')
a = tuple(sorted(names))
print(a)

('John', 'Michael', 'Monica', 'Tom')

## Two following tuples are given:

### dji1 = ('AAPL.US', 'IBM.US', 'MSFT.US')

### dji2 = ('HD.US', 'GS.US', 'NKE.US')

## Combine these tuples into one as shown below and print the result to the console.

## Expected result:

### ('AAPL.US', 'IBM.US', 'MSFT.US', 'HD.US', 'GS.US', 'NKE.US')

In [2]:
dji1 = ('AAPL.US','IBM.US','MSFT.US')
dji2 = ('HD.US','GS.US','NKE.US')
result = sum((dji1,dji2),())
print(result)

('AAPL.US', 'IBM.US', 'MSFT.US', 'HD.US', 'GS.US', 'NKE.US')

## The following tuples are given:

### dji1 = ('AAPL.US', 'IBM.US', 'MSFT.US')

### dji2 = ('HD.US', 'GS.US', 'NKE.US')

## Nest these tuples into one tuple as shown below and print the result to the console.

## Expected result:

### (('AAPL.US', 'IBM.US', 'MSFT.US'), ('HD.US', 'GS.US', 'NKE.US'))

In [3]:
dji1 = ('AAPL.US','IBM.US','MSFT.US')
dji2 = ('HD.US','GS.US','NKE.US')
result = ((dji1, ) + (dji2,))
print(result)

(('AAPL.US', 'IBM.US', 'MSFT.US'), ('HD.US', 'GS.US', 'NKE.US'))

## Tuples are immutable. The following tuple is given:

### members = (('Kate', 23), ('Tom', 19))

### Insert a tuple ('John', 26) between Kate and Tom as shown below. Print the result to the console.

## Tip: You have to create a new tuple.

# Expected result:

### (('Kate', 23), ('John', 26), ('Tom', 19))

In [4]:
members = (('Kate',23),('Tom',19))
newtup = members[:1] + (('John',26),) + members[1:]
print(newtup)

(('Kate', 23), ('John', 26), ('Tom', 19))

## The following tuple is given:

###  default = ('YES', 'NO', 'NO', 'YES', 'NO')

## Using the appropriate method return the number of occurrences of the string 'YES' and print the result to the console as shown below.

## Expected result:

### Number of occurrences: 2

In [5]:
default = ('YES','NO','NO','NO','YES')
f = default.count('YES')
print("Number of occurrences: {}".format(f))

Number of occurrences: 2

### techs = ('python', 'java', 'sql', 'aws')

###  Sort this tuple from a to z and print it to the console.

### Tip: Tuples are immutable. You have to create a new one.

## Expected result:

### ('aws', 'java', 'python', 'sql')

In [6]:
techs = ('python','java','sql','aws')
a = tuple(sorted(techs))
print(a)

('aws', 'java', 'python', 'sql')